 <div data-controller="preview">
 <%= f.label(:profile_photo) do %>
         <div class="image-container">
            
                <%= image_tag('', alt:'', data: { preview_target: "preview" }, class: "hidden rounded-full h-[10rem] w-[10rem] object-cover") %>
            <% if user.profile_photo.attached? %>
                <%= image_tag user.profile_photo, alt:'', data: { preview_target: "dummy" }, class: "rounded-full h-[10rem] w-[10rem] object-cover" %>
            <% else %>  
                <i class="fa-solid fa-user-secret fa-2xl w-[4rem] h-[4rem] lg:w-[6rem] lg:h-[6rem] p-10 bg-secondary-50 rounded-full object-cover"></i>  
            <% end %>
        </div>
          <%= f.file_field :profile_photo, autofocus: true, direct_upload: true, data: {preview_target: "input", action: "change->preview#preview"},  class: " hidden shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
 <%end %>
 </div>