  <%# TODO: Refine css%>
  <% if count > 0 %>
   <div class="absolute bottom-auto left-auto right-0 top-0 z-1 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100 h-6 w-6 mx-2 px-2 py-1 mt-3 mr-1 ">
    <span class=" animate-ping absolute bottom-auto left-2 right-0 top-0 z-1 inline-block rotate-0 skew-x-0 skew-y-0  h-full w-full bg-red-500 opacity-75 "></span>
    <span class="absolute bottom-auto left-auto right-0 top-0 z-1 inline-block -translate-y-1/2 translate-x-2/4 rotate-0 skew-x-0 skew-y-0 scale-x-100 scale-y-100  bg-primary px-2 py-1 mt-3 mr-1 text-md  text-white font-bold">
      <em><%= count > 9 ? "+9" : count  %></em>
    </span>
  </div>
  <% end %>
