    <%# TODO: ADD PING ANIMATION HERE%>
  <% if count > 0 %>
    <span class="bg-primary px-2 py-1 mt-3 mr-1 text-md  text-white font-bold">
      <em><%= count > 9 ? "+9" : count  %></em>
    </span>
  <% end %>