<div class="mx-auto md:w-2/3 w-full flex">
  <div class="w-full">
    <div class="flex justify-between items-center">
      <h1 class="font-black italic text-2xl text-primary mb-6">Agenda</h1>
    </div>

    <div id="talks" class="min-w-full">
      <%= render "shared/tabs_by_day" %>
    </div>
  </div>
</div>
