<div class="mx-auto md:w-2/3 w-full flex">
  <div class="w-full">
    <div class="flex justify-between items-center">
      <h1 class="font-black italic text-2xl text-primary mb-6">User Directory</h1>
    </div>

    <div id="users" class="min-w-full">
      <%= render @users %>
    </div>
  </div>
</div>