<div class="">
    <div class="bg-white w-full h-screen flex flex-col justify-center p-4">
        <%= button_to("Create Shareable Profile", onboarding_form_path, method: :get, :class => "w-full p-8 my-4 bg-primary no-underline block italic font-bold text-white whitespace-nowrap" )%>
    
        <%= button_to("Skip For Now", root_path, method: :get, :class => "w-full p-8 my-4 bg-secondary-100 no-underline block italic font-bold text-white whitespace-nowrap")%> 

    </div>
</div>
