<%= render 'shared/onboarding_header'%>
<div>
    <div class="px-6 mt-4 bg-white w-full md:w-2/3  mx-auto h-full flex flex-col justify-center text-center">
        <h1 class="text-2xl italic font-bold text-primary py-4 mb-4">Create a Profile you can share with other attendees</h1>
        <%= button_to "Lets Do It!", onboarding_form_path, method: :get, class:"w-full mx-auto lg:w-1/2 lg:text-2xl p-6 my-4 bg-secondary hover:bg-primary no-underline block italic font-bold text-white whitespace-nowrap"%>
        <%= button_to("Skip For Now", root_path, method: :get, :class => "w-full mx-auto lg:w-1/2 lg:text-2xl p-6 my-4 bg-secondary-100 hover:bg-primary  no-underline block italic font-bold text-white whitespace-nowrap")%> 
    </div>
</div>
