<%= render 'shared/onboarding_header'%>
<div class="">
    <div class="bg-white w-full h-full flex flex-col p-4 justify-center">
        <%= button_to("Create Shareable Profile", onboarding_form_path, method: :get, :class => "w-full mx-auto lg:w-1/2 lg:text-2xl p-8 my-4 bg-primary no-underline block italic font-bold text-white whitespace-nowrap" )%>

        <%= button_to("Skip For Now", root_path, method: :get, :class => "w-full mx-auto lg:w-1/2 lg:text-2xl p-8 my-4 bg-secondary-100 no-underline block italic font-bold text-white whitespace-nowrap")%> 

    </div>
</div>