<div class="relative w-full">
hi
<div class="mt-5 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-around  text-center w-full">
    <%= button_to("Create Shareable Profile", onboarding_form_path, method: :get, :class => "w-full  bg-primary hover:bg-blue-900 text-white font-bold py-4  text-lg italic" )%>
    <%= button_to("Skip For Now", root_path, method: :get, :class => "w-full  bg-secondary-100 mt-8 hover:bg-blue-900 text-white font-bold py-4  text-lg italic")%> 
</div>
</div>
