<div>
  <%= turbo_frame_tag talk, :talks_users do %>
    <% if talk.selected_by?(current_user) %>
      <%= button_to talks_user_path(talk.talks_users.find_by(user: current_user)), method: :delete, 
      class: "text-secondary hover:text-secondary-100" do %>
        <svg width="50" height="50" viewBox="0 0 90 94" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" fill-rule="evenodd" d="M 83.495 11.153 L 73.833 11.153 L 73.833 -1.732 L 67.391 -1.732 L 67.391 11.153 L 22.3 11.153 L 22.3 -1.732 L 15.858 -1.732 L 15.858 11.153 L 6.195 11.153 C 0.862 11.153 -3.467 15.474 -3.467 20.816 L -3.467 85.231 C -3.467 90.564 0.862 94.893 6.195 94.893 L 83.495 94.893 C 88.835 94.893 93.158 90.564 93.158 85.231 L 93.158 20.816 C 93.158 15.474 88.835 11.153 83.495 11.153 Z M 41.777 70.621 L 66.592 42.258 L 61.748 38.02 L 41.471 61.196 L 31.02 50.742 L 26.461 55.303 L 41.777 70.621 Z" clip-rule="evenodd" style=""></path>
        </svg>
      <% end %>
    <% else %>
      <%= button_to talks_users_path(talk_id: talk), class: "text-secondary hover:text-secondary-100" do %>
        <svg width="50" height="55" viewBox="0 0 90 90" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M 84.604 1.783 L 6.659 1.783 C 4.784 1.783 3.27 3.298 3.27 5.172 L 3.27 83.117 C 3.27 84.991 4.784 86.506 6.659 86.506 L 84.604 86.506 C 86.478 86.506 87.993 84.991 87.993 83.117 L 87.993 5.172 C 87.993 3.298 86.478 1.783 84.604 1.783 Z M 65.965 46.686 C 65.965 47.152 65.583 47.533 65.118 47.533 L 49.021 47.533 L 49.021 63.631 C 49.021 64.097 48.639 64.478 48.172 64.478 L 43.09 64.478 C 42.624 64.478 42.243 64.097 42.243 63.631 L 42.243 47.533 L 26.145 47.533 C 25.679 47.533 25.298 47.152 25.298 46.686 L 25.298 41.603 C 25.298 41.137 25.679 40.756 26.145 40.756 L 42.243 40.756 L 42.243 24.658 C 42.243 24.193 42.624 23.811 43.09 23.811 L 48.172 23.811 C 48.639 23.811 49.021 24.193 49.021 24.658 L 49.021 40.756 L 65.118 40.756 C 65.583 40.756 65.965 41.137 65.965 41.603 L 65.965 46.686 Z" style=""></path>
        </svg>
      <% end %>
    <% end %>
  <% end %> 
</div>
