    <div>
      <%= turbo_frame_tag talk, :talks_users do %>
        <% if talk.selected_by?(current_user) %>
          <%= button_to talks_user_path(talk.talks_users.find_by(user: current_user)), method: :delete, 
          class: "text-secondary" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 15 15">
            <path fill="currentColor" fill-rule="evenodd" d="M13.5 2H12V0h-1v2H4V0H3v2H1.5A1.5 1.5 0 0 0 0 
            3.5v10A1.5 1.5 0 0 0 1.5 15h12a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 2Zm-6.476 
            9.232l3.852-4.403l-.752-.658l-3.148 3.598l-1.622-1.623l-.708.708l2.378 2.378Z" clip-rule="evenodd"/>
            </svg>
          <% end %>
        <% else %>
          <%= button_to talks_users_path(talk_id: talk), class: "text-secondary" do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 1024 1024">
            <path fill="currentColor" d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 
            32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM704 536c0 4.4-3.6 8-8 8H544v152c0 
            4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V544H328c-4.4 0-8-3.6-8-8v-48c0-4.4 3.6-8 8-8h152V328c0-4.4 
            3.6-8 8-8h48c4.4 0 8 3.6 8 8v152h152c4.4 0 8 3.6 8 8v48z"/>
            </svg>
          <% end %>
        <% end %>
      <% end %> 
     </div>