
<% if notice %>
<p class="py-2 px-3 my-2 bg-secondary-100 mb-5 text-grey font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% elsif alert %>
<p class="py-2 px-3 my-2 bg-primary mb-5 text-white font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
<%end%>