<% if notice %>
<p class="py-2 px-3 my-2 bg-secondary-50 mb-5 text-secondary font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% elsif alert %>
<p class="py-2 px-3 my-2 bg-secondary-50 mb-5 text-danger font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
<%end%>