<% if notice %>
<p class="py-2 px-3 my-2 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% elsif alert %>
<p class="py-2 px-3 my-2 bg-pink-50 mb-5 text-pink-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
<%end%>