<footer class="text-secondary text-xs mt-6 mb-3 font-bold italic mx-auto md:w-2/3 w-full text-center">
  <p> Created by The Agency of Learning. Learn more <%= link_to "here", contributors_path, class: "text-primary" %>.</p>
</footer>