<div data-controller="tabs" data-tabs-active-tab="bg-secondary focus:bg-secondary text-white text-2xl font-black italice" data-tabs-inactive-tab="bg-secondary-50 text-secondary">
  <ul class="list-reset flex justify-center mb-2">
    <li class="w-full text-center rounded" data-tabs-target="tab" data-action="click->tabs#change" data-tabs-index-value="1">
      <a class="inline-block py-4 px-10 text-xl font-bold italic no-underline" href="#">Upcoming</a>
    </li>
    <li class="w-full text-center rounded" data-tabs-target="tab" data-action="click->tabs#change">
      <a class="inline-block py-4 px-10 text-xl font-bold italic no-underline" href="#">Past</a>
    </li>
  </ul>

  <div class="hidden py-4" data-tabs-target="panel">
    <% @talks_by_day.each do | day, talks | %>
      <% upcoming_talks = talks.select { |talk| talk.end_time >= Time.current } %>
      <% if upcoming_talks.any? %>
        <div class="flex flex-row justify-center">
          <div>
            <h2 class="font-extrabold italic text-xl text-secondary"><%= day %></h2>
          </div>
        </div>
        <div id="talks" class="min-w-full">
          <% upcoming_talks.each do |talk| %>
              <%= render "shared/my_schedule_talk", talk: talk %>
          <% end %>
        </div>
      <% end %>
   <% end %>
  </div>

  <div class="hidden py-4" data-tabs-target="panel">
    <% @talks_by_day.each do | day, talks | %>
      <% past_talks = talks.select { |talk| talk.end_time < Time.current } %>
      <% if past_talks.any? %>
        <div class="flex flex-row justify-center">
          <div>
            <h2 class="font-extrabold italic text-xl text-secondary"><%= day %></h2>
          </div>
        </div>
        <div id="talks" class="min-w-full">
          <% past_talks.each do |talk| %>
              <%= render "shared/my_schedule_talk", talk: talk %>
          <% end %>
        </div>
      <% end %>
   <% end %>
  </div>
</div>
