<div id="<%= dom_id speaker %>">
  <p class="my-5 h-auto max-w-xs">
    <%= link_to image_tag(speaker.image_filename), speaker %>
  </p>
  <p class="my-5">
    <strong class="block font-bold mb-1"><%= link_to speaker.name, speaker %></strong>
  </p>
  <p class="my-5">
    <strong class="block font-bold mb-1"><%= speaker.title %></strong>
  </p>
</div>
